@import '../Common.css';

/* header */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 15rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding-top: 1rem;
    background-color: var(--white-color);
  }
  
  .dropdown-content a {
    color: var(--black-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
  }
  
  .dropdown-content a:hover {background-color: var(--shadow-color);}
  
  .dropdown:hover .dropdown-content {display: block;}

/* mainbody */
  .user-main-container{
    background-color: var(--lightgray-color);
    height:max-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.user-sub-container{
    background-color: var(--lightgray-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

/* <!-- Blithe-plus-banner --> */
.Blithe-plus-banner{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0;
}

.dis-banner{
    background: url("https://media.istockphoto.com/vectors/dark-peach-or-carrot-coloured-grunge-celebration-vector-backgrounds-vector-id1278494992?k=20&m=1278494992&s=170667a&w=0&h=_AADyG_fvrjC-hkrbLJyEh1nrH28xBeQluRcKy0v0I8=");
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.dis-banner{
    color: var(--white-color);
    padding-left: 10px;
}

.dis-banner span{
    color: var(--darkgreen-color);
    padding:10px;
    font-weight: 900;
}

.banner-img{
    width:20%;
    height: 20%;
}

.banner-img img{
    width: 50%;
}


/* footer */
.flex-container-row.footer{
    background-color: var(--secondary-color);
    color: var(--white-color);
    justify-content: space-evenly;
}

.flex-container-row.footer p{
    color: var(--black-color);
    margin: 5px 0;
    font-weight: 500;
}

