@import '../Common.css';

.my-slides {
    display:none;
}

/*--Slider--*/
.slider{
	width: 100%;
	/* height: 30%; */
    height: 80vh;
}
.slider-img img{
	width: 100%;
	height: 65vh;
	background-color: black;
    object-fit: cover;
}
/* .carousel-caption{
	top: 50%;
	transform: translateY(-50%);
	bottom: initial!important;
}
.carousel-caption h5{
	font-size:30px;
}

.slider-img img:hover{
	color: orange;
}

.carousel-caption{
	top: 50%;
	transform: translateY(50%);
	bottom: initial!important;
} */

.btn-icon{
    background-color: var(--black-color);
    color: var(--white-color);
    opacity: 0.7;
}

.prev-btn{
    z-index:1;
    top: 60%;
    float: left;
    left:20px;
    position: absolute;
}

.next-btn{
    z-index:1;
    top: 60%;
    float: right;
    right:20px;
    position: absolute;
}

.category-container{
    height:7rem;
    background-color: var(--lightgray-color);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    /* margin:0 20px; */
}

.category-item{
    margin: 0 2rem;
    /* background-color: 	#f8d4d8; */
    width:7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category{
    padding:0.2rem;
    border-radius: 50%;
    /* background-color: var(--darkgray-color); */
}

/* Steps container */
.steps-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--white-color);
    height:max-content;
    width:100%;
    gap:1rem;
}

.step-item{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    justify-content: center;
    align-items: center;  
    background-color: var(--lightgray-color);
    padding:1rem; 
    width:30%;
    box-shadow: rgba(25,25,25,.04) 0 0 1px 0,rgba(0,0,0,.1) 0 3px 4px 0;
}

.step{
    font-size: 3rem;
    font-weight: 900;
    width:4rem;
    height:4rem;
    color: var(--white-color);
    background-color: var(--secondary-color);
    padding: 0 0 0.5rem 0;
    text-align: center;
    border-radius: 50%;
}

.step-text{
    color: var(--primary-bg);
    margin-top: 10px
}

.flex-container-row.featured-categories{
    background-color: var(--whitepeach-color);
    flex-wrap: wrap;
}

.featured-categories .card-container .card-img{
    height: 15rem;
}

.flex-container-row.featured-prdcts{
    background-color: var(--linen-color);
    flex-wrap: nowrap;
    overflow: scroll;
    scroll-behavior: smooth;
}

/* <!-- Blithe-plus-banner --> */
.Blithe-plus-banner{
    /* margin:2rem; */
    /* height:10vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem 0;
}

.dis-banner{
    background: url("https://media.istockphoto.com/vectors/dark-peach-or-carrot-coloured-grunge-celebration-vector-backgrounds-vector-id1278494992?k=20&m=1278494992&s=170667a&w=0&h=_AADyG_fvrjC-hkrbLJyEh1nrH28xBeQluRcKy0v0I8=");
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.dis-banner{
    color: var(--white-color);
    padding-left: 10px;
}

.dis-banner span{
    color: var(--darkgreen-color);
    padding:10px;
    font-weight: 900;
}

.banner-img{
    /* background: url("https://assets.pharmeasy.in/web-assets/dist/b20b0932.png"); */
    width:20%;
    height: 20%;
}

.banner-img img{
    width: 50%;
}

/* deals of the day */
.flex-container-row.deals-prdcts{
    background-color: var(--linen-color);
}

/*--Section for - Testimonials grid--*/
.flex-container-row.reviews-container{
    background-color: var(--tertiary-color);
}

.flex-container-row.reviews-row{
    flex-wrap: nowrap;
    /* padding-top: 2rem; */
    gap:0px !important;
}
.flex-container-row.reviews-row .profile{
	padding: 2rem 1rem 1rem;
	background-color: var(--lightgray-color);
    text-align: center;
}
.flex-container-row.reviews-row .user{
	width: 8rem;
	height: 8rem;
	border-radius: 50%;
}
.flex-container-row.reviews-row .profile img{
	border:10px solid var(--white-color);
}

.flex-container-row.reviews-row .profile .profile-name{
	color: var(--primary-bg);
}
.flex-container-row.reviews-row .profile:hover{
	box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
	cursor:pointer;
	transition: 0.5s;
}

.flex-container-row.footer{
    background-color: var(--secondary-color);
    color: var(--white-color);
    justify-content: space-evenly;
}

.flex-container-row.footer p{
    color: var(--black-color);
    margin: 5px 0;
    font-weight: 500;
}